*{
	box-sizing: border-box;
}

.empty{
    border: solid black 1px;
    border-radius: 3px;
    background: lightpink;
    padding: 5px;
    display: inline-block;  
    width: 200px;
    height: 200px;
    margin: 5px;
    position: relative;
}

.card .fill{
    border-radius: 0px;
    background: rgb(255, 255, 255);
    padding: 5px;  
    width: 95%;
    height: 170px;
    position: absolute;
    overflow-y: scroll;
    
}

.card .fill::-webkit-scrollbar {
    /*width: 5px;
    background-color: #F5F5F5;*/
}
.card .fill::-webkit-scrollbar-thumb{
    background-color: #7d7d83;
    border-radius: 5px;
}
.card .fill::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.card .header{
    background: rgb(0, 5, 8);
    height: 10px;
    cursor: move;
}

.hold{
    border: solid black 1px;
}

.invisible{
    display: none;
}

.hovered{
    background: #f4f4f4;
    border-style: dashed;
    
    
}

.button{
    position: relative;
    display: inline;
}

.start{
    background: rgb(133, 218, 133);
}